.frequently {
     margin: 0;
}
.frequentlyAskedQuestions {
     width: fit-content;
     position: relative;
     letter-spacing: -0.02em;
     line-height: 91px;
     display: inline-block;
     font-size: 56px;
}
.theseAreA {
     width: 637.3px;
     position: relative;
     font-size: 22px;
     letter-spacing: -0.02em;
     color: rgba(0, 0, 0, 0.6);
     display: inline-block;
}
.frequentlyAskedQuestionsParent {
     align-self: stretch;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     gap: 24px;
}
.getInTouch {
     letter-spacing: -0.02em;
     font-weight: 600;
}
.getInTouchWrapper {
     width: 180px;
     margin: 20px 0;
     border-radius: 100px;
     background-color: #ae01ff;
     overflow: hidden;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     padding: 8px 28px;
     font-size: 20px;
     color: #fff;
}
.frameParent {
     width: 100%;
     position: relative;

     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     gap: 36px;
     text-align: left;
     font-size: 72px;
     color: rgba(0, 0, 0, 0.8);
     font-family: Poppins;
}



.manConfusedByALotOfQuest {
     width: 100%;
     scale: 0.7;
     position: relative;
     max-width: 100%;
     overflow: hidden;
     object-fit: cover;
}

