.trumio {
     color: #ae01ff;
}
.whatTrumioIsContainer {
     align-self: stretch;
     position: relative;
     letter-spacing: -0.02em;
}
.aVibrantEcosystem {
     width: 241.1px;
     position: relative;
     letter-spacing: -0.02em;
     line-height: 56px;
     display: inline-block;
     font-size: 35px;
}
.connectsGlobalClients {
     align-self: stretch;
     position: relative;
     font-size: 16px;
     letter-spacing: -0.02em;
     color: rgba(0, 0, 0, 0.6);
}
.aVibrantEcosystemParent {
     position: absolute;
     top: 34px;
     left: 50px;
     width: 236px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     gap: 8px;
}
.graphicElementsIcon {
     position: absolute;
     height: 71.43%;
     width: 36.44%;
     top: 11.79%;
     right: 5.45%;
     bottom: 11.78%;
     left: 55.11%;
     max-width: 100%;
     overflow: hidden;
     max-height: 100%;
}
.frameGroup {
     width: 638px;
     position: relative;
     border-radius: 32px;
     background-color: #f6e3ff;
     height: 328px;
     overflow: hidden;
     flex-shrink: 0;
}
.aVirtualWorkbench {
     width: 413.2px;
     position: relative;
     letter-spacing: -0.02em;
     display: inline-block;
     font-size: 35px;
}
.aiEmbeddedThroughout {
     width: 311.9px;
     position: relative;
     font-size: 16px;
     letter-spacing: -0.02em;
     color: rgba(0, 0, 0, 0.6);
     display: inline-block;
}
.aVirtualWorkbenchParent {
     position: absolute;
     top: 34px;
     left: 50px;
     width: 303px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     gap: 8px;
}
.exchangeBusinessDocuments1Icon {
     position: absolute;
     top: 132px;
     left: 332px;
     width: 291px;
     height: 180px;
     overflow: hidden;
}
.frameContainer {
     width: 638px;
     position: relative;
     border-radius: 32px;
     background-color: #d7fffd;
     height: 328px;
     overflow: hidden;
     flex-shrink: 0;
}
.poweredByAi {
     width: 523.2px;
     position: relative;
     letter-spacing: -0.02em;
     display: inline-block;
     font-size: 35px;
}
.poweredByAiParent {
     position: absolute;
     top: 34px;
     left: 50px;
     width: 433px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     gap: 8px;
}
.manAndRobotWithComputersS {
     position: absolute;
     top: 35px;
     left: 600.15px;
     width: 600px;
     height: 290px;
     overflow: hidden;
}
.frameDiv {
     width: 1326px;
     position: relative;
     border-radius: 32px;
     background-color: #dfe0ff;
     height: 328px;
     overflow: hidden;
     flex-shrink: 0;
}
.frameParent {
     align-self: stretch;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: center;
     flex-wrap: wrap;
     align-content: flex-start;
     gap: 34px 50px;
     text-align: left;
     font-size: 40px;
}
.whatTrumioIsParent {
     width: 100%;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     gap: 44px;
     text-align: center;
     font-size: 56px;
     color: rgba(0, 0, 0, 0.8);
     font-family: Poppins;
}

