.offers {
     color: #ae01ff;
}
.whatTrumioOffersContainer {
     align-self: stretch;
     position: relative;
     letter-spacing: -0.02em;
}
.forClients {
     position: relative;
     letter-spacing: -0.02em;
     font-weight: 500;
}
.forClientsWrapper {
     border-radius: 100px;
     background-color: #ae01ff;
     overflow: hidden;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     padding: 10px 43px;
     font-size: 23px;
}
.forTalentsWrapper {
     border-radius: 100px;
     border: 2px solid rgba(0, 0, 0, 0.1);
     overflow: hidden;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     padding: 10px 43px;
     font-size: 23px;
     color: #ae01ff;

}
.frameGroup {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     gap: 40px;
     font-size: 28px;
     color: #fff;
}
.whatTrumioOffersParent {
     width: 666px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     gap: 20px;
}
.universityTeamssvgIcon {
     width: 52px;
     position: relative;
     height: 52px;
     overflow: hidden;
     flex-shrink: 0;
}
.universityTeamssvgFill {
     width: 52px;
     height: 52px;
     overflow: hidden;
     flex-shrink: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
.figureUniversityTeamssvg {
     position: absolute;
     top: 0px;
     left: 0px;
     width: 52px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     max-width: 73.84px;
}
.heading3 {
     position: absolute;
     top: 0px;
     left: 73.84px;
     letter-spacing: -0.02em;
     line-height: 28px;
     font-weight: 600;
}
.onDemandEngagement {
     margin: 0;
}
.onDemandEngagementContainer {
     position: absolute;
     top: 29px;
     left: 73.84px;
     letter-spacing: -0.02em;
     line-height: 28px;
     color: #757575;
     font-size: 17px;
}
.horizontalborder {
     position: absolute;
     width: calc(100% - 108px);
     top: 46px;
     right: 84px;
     left: 24px;
     border-bottom: 1px solid #ecedff;
     box-sizing: border-box;
     height: 102px;
}
.horizontalborder1 {
     position: absolute;
     width: calc(100% - 108px);
     top: 168px;
     right: 84px;
     left: 24px;
     border-bottom: 1px solid #ecedff;
     box-sizing: border-box;
     height: 102px;
}
.provenNewHiressvgIcon {
     width: 52px;
     position: relative;
     height: 52px;
     overflow: hidden;
     flex-shrink: 0;
     object-fit: cover;
}
.ensureSuccessfulNewContainer {
     position: absolute;
     top: 27px;
     left: 73.84px;
     letter-spacing: -0.02em;
     line-height: 28px;
     color: #757575;
     font-size: 17px;
}
.horizontalborder2 {
     position: absolute;
     width: calc(100% - 108px);
     top: 290px;
     right: 84px;
     left: 24px;
     border-bottom: 1px solid #ecedff;
     box-sizing: border-box;
     height: 126px;
}
.figureExtendedTeamssvg {
     position: absolute;
     top: 436px;
     left: 24px;
     width: 52px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     max-width: 73.84px;
}
.heading33 {
     position: absolute;
     top: 436px;
     left: 97.84px;
     letter-spacing: -0.02em;
     line-height: 28px;
     font-weight: 600;
}
.forFlexibleWorkContainer {
     position: absolute;
     top: 465px;
     left: 97.84px;
     letter-spacing: -0.02em;
     line-height: 28px;
     color: #757575;
     font-size: 17px;
}
.background {
     align-self: stretch;
     width: 670.4px;
     position: relative;
     border-radius: 16px 0px 0px 16px;
     background-color: #fff;
}
.forClientBgSvgsvgFillIcon {
     position: absolute;
     top: 0px;
     left: 0px;
     width: 452px;
     height: 583px;
     overflow: hidden;
     object-fit: cover;
}
.container1 {
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0%;
     right: 0%;
     bottom: 0%;
     left: 0%;
     border-radius: 0px 16px 16px 0px;
     opacity: 0.64;
}
.figureJoseMarinpng {
     position: absolute;
     top: 30px;
     left: 20px;
     border-radius: 100px;
     width: 65px;
     height: 65px;
     overflow: hidden;
     object-fit: cover;
}
.heading34 {
     position: absolute;
     top: 103.19px;
     left: 20px;
     letter-spacing: -0.02em;
     line-height: 28px;
}
.ceoSmaiSpain {
     position: absolute;
     top: 129.19px;
     left: 20px;
     letter-spacing: -0.02em;
     line-height: 28px;
     color: #7a5c12;
}
.forOurDevelopmentContainer {
     position: relative;
     letter-spacing: -0.02em;
     line-height: 28px;
     font-weight: 600;
}
.heading5 {
     position: absolute;
     width: calc(100% - 40px);
     top: 175.19px;
     right: 20px;
     left: 20px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
}
.background1 {
     align-self: stretch;
     width: 452px;
     position: relative;
     border-radius: 0px 16px 16px 0px;
     color: #4c3a0e;
}
.container {
     width: 100%;
     box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: center;
     padding: 0px 7.6px 0px 0px;
     box-sizing: border-box;
     max-width: 1140px;
     text-align: left;
     font-size: 20px;
     color: #14174c;
}
.frameParent {
     width: 100%;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     gap: 64px;
     text-align: center;
     font-size: 56px;
     color: rgba(0, 0, 0, 0.8);
     font-family: Poppins;
}

