.modernizingYour {
     margin: 0;
}
.jobSearch {
     color: #ae01ff;
}
.modernizingYourJobContainer {
     align-self: stretch;
     position: relative;
     letter-spacing: -0.02em;
     line-height: 103px;
     font-size: 66px;
}
.over100000JobsContainer {
     width: 890.8px;
     position: relative;
     font-size: 24px;
     letter-spacing: -0.02em;
     color: rgba(0, 0, 0, 0.6);
     display: inline-block;
     font-size: 24px;
}
.modernizingYourJobSearchExParent {
     align-self: stretch;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     gap: 24px;
}
.bxsearchIcon {
     width: 28px;
     position: relative;
     height: 28px;
     overflow: hidden;
     flex-shrink: 0;
}
.searchForYour {
     position: relative;
     letter-spacing: -0.02em;
     font-weight: 500;
     width: fit-content;
}
.bxsearchParent {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     gap: 12px;
}
.searchWrapper {
     border-radius: 100px;
     background-color: #ae01ff;
     height: 48px;
     overflow: hidden;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     padding: 6px 32px;
     box-sizing: border-box;
     font-size: 20px;
     color: #fff;
}
.frameParent1 {
     align-self: stretch;
     border-radius: 100px;
     background-color: rgba(255, 255, 255, 0.2);
     border: 2px solid rgba(0, 0, 0, 0.1);
     overflow: hidden;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     padding: 12px 16px 12px 34px;
     font-size: 20px;
     color: rgba(0, 0, 0, 0.4);
}
.popularProjectsYou {
     align-self: stretch;
     position: relative;
     letter-spacing: -0.02em;
     font-weight: 500;
}
.uiuxWrapper {
     border-radius: 16px;
     background-color: #fff;
     border: 2px solid rgba(0, 0, 0, 0.1);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     padding: 10px 20px;
     width: fit-content;
}
.frameParent2 {
     align-self: stretch;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     gap: 32px;
     font-size: 18px;
     color: rgba(0, 0, 0, 0.6);
}
.popularProjectsYouCanStartParent {
     width: 784px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     gap: 16px;
     font-size: 20px;
}
.frameContainer {
     width: 802px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     gap: 44px;
}
.homepageHeroSectionImagePnIcon {
     width: 719.5px;
     position: relative;
     height: 558.6px;
     object-fit: cover;
}
.frameGroup {
     align-self: stretch;
     display: flex;
     gap: 40px;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
}
.frameChild {
     align-self: stretch;
     width: 6px;
     position: relative;
     border-radius: 100px;
     background-color: #ae01ff;
     overflow: hidden;
     flex-shrink: 0;
}
.b {
     align-self: stretch;
     position: relative;
     letter-spacing: -0.02em;
}
.talent {
     position: relative;
     font-size: 24px;
     letter-spacing: -0.02em;
     color: rgba(0, 0, 0, 0.6);
     text-align: center;
}
.parent {
     width: 153px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
}
.frameParent4 {
     align-self: stretch;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     gap: 32px;
}
.b1 {
     position: relative;
     letter-spacing: -0.02em;
}
.group {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
}
.frameParent3 {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: flex-start;
     gap: 300px;
     font-size: 56px;
}
.frameParent {
     width: 100%;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     gap: 140px;
     text-align: left;
     font-size: 72px;
     color: rgba(0, 0, 0, 0.8);
     font-family: Poppins;
}

